*{
    background-color:white;
}



header img{ 
    width:100%;
    height:300px;
    background-color: cornflowerblue;


}

#sec1{
    display:block;
    float:left;
    border-radius: 100px;
    margin: 30px;
    Width:60%;
    height:550px;
    background-color: #FF8E8E;
    font:30px;
    color: white;

}
#sec1 h2{
    background-color: transparent;
    font-size: 50px;
    text-align: center;
}
#sec1 p {
    background-color:transparent;
    padding-right:10px;
    padding-left:10px;
    
}
#sec1 article{
    background-color: transparent;
    font-size: 20px;
    width:100%;
    height:500px;
    text-align: center;
    align-self: center;
    line-height: 1.3;
}


#sec2{
    background-color:#FF8E8E;
    display:inline-flex;
    float:right;
    border-radius: 100px;
    margin:30px;
    width:60%;
    height:400px;
    font:30px;
    color:white;

}
#sec2 article{
    background-color: transparent;
    width:100%;
    height:200px;
    text-align: center;
    align-self: center;
    line-height: 1.3;
    font-size: 20px;
    margin-bottom: auto;
}
#sec2 p{
    background-color: transparent;
    padding-left:10px;
    padding-right: 10px;
}

#sec2 h3{
    background-color: transparent;
    font-size: 50px;
    text-align: center;
}

footer{
    display: inline-flex;
    width:100%;
    height:200px;
    margin-top: 100px;
    background-color: #FF8E8E;

}

#img1 img {
    display: inline;

    height:450px;
    width:30%;
    margin:30px;
    border-radius:100px;
    border-color: white;
}
#img1{
    margin-top: 50px;
}

#img2 img {
    display: inline-block;
    height:400px;
    width:30%;
    border-radius: 100px;
    margin:30px;
}
